<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>
</head>
<body>

<h1>Shopping Cart</h1>

<table border="1" cellpadding="10">
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>

    {% for item in carts %}
    <tr>
        <td>{{ item.product.name }}</td>
        <td>₹{{ item.product.price }}</td>
        <td>{{ item.quantity }}</td>
    </tr>
    {% endfor %}
</table>

<h2>Total: ₹{{ total }}</h2>
  <a href="{% url 'checkout' %}">
    <button>Proceed to Checkout</button>
  </a>

</body>
</html>